<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= item?.id ? "Sửa" : "Thêm" %></h1>
    <a href="/">Quay lại</a>
    <% if (error) { %>
        <p style="color: red;"><%= error %></p>
    <% } %>
    <form action="<%= item?.id ? '/items/' + item.id : '/items' %>" method="POST" enctype="multipart/form-data">
        <br>
        <input type="text" name="name" placeholder="Name" required value="<%= item?.name || '' %>">
        <br>
        <input type="number" name="price" placeholder="Price" required value="<%= item?.price || '' %>">
        <br>
        <input type="file" name="image" accept="image/*">
        <br>
        <input type="number" name="quantity" placeholder="Quantity" required value="<%= item?.quantity || '' %>">
        <br>
        <select name="category">
            <option value="STANDARD" <%= item?.category === 'STANDARD' ? 'selected' : '' %>>STANDARD</option>
            <option value="PROMOTION" <%= item?.category === 'PROMOTION' ? 'selected' : '' %>>PROMOTION</option>
        </select>
        <br>
        <button type="submit">Save</button>
    </form>
    <% if (item?.image) { %>
        <img src=<%= item.image %> alt=<%= item?.name || '' %> width="200">
    <% } %>
</body>
</html>