<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Danh sách</h1>

    <a href="/form">Thêm</a>

    <table border="1" width="80%" style="text-align: center;">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Image</th>
            <th>Quantity</th>
            <th>ACTION</th>
        </tr>
        <tr>
            <% if (!items || items.length === 0) { %>
                <td colspan="6">Không có sản phẩm nào</td>
            <% } else { %>
                <% items.forEach(item => { %>
                    <td><%= item.id %></td>
                    <td><%= item.name %></td>
                    <td><%= item.price %></td>
                    <td>
                        <img src=<%= item.image %> alt="" width="100">
                    </td>
                    <td><%= item.quantity %></td>
                    <td>
                        <button>Sửa</button>
                        <button>Xoá</button>
                    </td>
                <% }) %>
            <% } %>
        </tr>
        
            
    </table>
</body>
</html>